<table class="maintable">
  <tr class="template-header">
    <th class="icon"></th>
    <th>{l_Forum}</th>
    <th>{l_Topic}</th>
    <th class="count">{l_Replies}</th>
    <th class="count">{l_Views}</th>
    <th class="lastpostinfo">{l_LatestPost}</th>
  </tr>

  <tr class="template-topic">
    <td class="icon"><img src="{img_dir}{topic_icon}" alt="{topic_status}" /></td>
    <td class="atforum">{forum}</td>
    <td><div class="topicname">{topic_name}</div><div class="topicpagelinks">{topic_page_links}</div><div class="author">&mdash; {author}</div></td>
    <td class="count">{replies}</td>
    <td class="count">{views}</td>
    <td class="lastpostinfo">{by_author} <a href="{last_post_url}">&gt;&gt;</a><div>{on_date}</div></td>
  </tr>

</table>

