<div class="template-login_form">
  <table id="adminlogin">
    <tr>
      <th colspan="2">{l_AdminLogin}</th>
    </tr>
    <tr>
      <td colspan="2">{l_AdminPasswordExplain}</td>
    </tr>
    <tr>
      <td class="fieldtitle">{l_Password}</td><td>{password_input}</td>
    </tr>
    <tr>
      <td colspan="2" class="formcontrols">{submit_button}</td>
    </tr>
  </table>
</div>
<div class="template-main">
  <div id="adminmenu">
    {admin_menu}
  </div>

  <h1 id="admintitle">{admin_title}</h1>

  <div id="admincontent">
    {admin_content}
  </div>

  <div id="adminbottomfix"></div>
</div>
