<!-- header -->
<p id="pagelinksothertop">{page_links}</p>
<table class="maintable">
  <tr>
    <td colspan="4" class="formcontrols">{sort_by_links}</td>
  </tr>
  <tr>
    <th>{l_Username} / {l_RealName}</th>
    <th>{l_Level} / {l_Rank}</th>
    <th>{l_Registered}</th>
    <th>{l_Posts}</th>
  </tr>
  <!-- user -->
  <tr>
    <td>{username}<div class="jump-in-data">{real_name}</div></td>
    <td>{level}<div class="jump-in-data">{rank}</div></td>
    <td>{registered}</td>
    <td class="count">{posts}</td>
  </tr>

  <!-- no_user_found -->

  <tr>
    <td>{username}<div class="jump-in-data">{real_name}</div></td>
    <td>{level}<div class="jump-in-data">{rank}</div></td>
    <td>{registered}</td>
    <td class="count">{posts}</td>
  </tr>
  <!-- footer -->
</table>
<p id="pagelinksotherbottom">{page_links}</p>
