<!-- header -->
<p id="pagelinksothertop">{page_links}</p>
<table class="maintable">
  <tr>
    <td colspan="3" class="formcontrols">{filter_links}</td>
  </tr>
  <tr>
    <th>{l_Username}</th>
    <th>{l_CurrentPage}</th>
    <th>{l_LatestUpdate}</th>
  </tr>

  <!-- user -->
  <tr>
    <td>{username}</td>
    <td>{current_page}</td>
    <td class="minimal">{latest_update}</td>
  </tr>

  <!-- footer -->
  <tr>
    <td>{username}</td>
    <td>{current_page}</td>
    <td class="minimal">{latest_update}</td>
  </tr>
